.navbar-brand {
  background-image: url("../../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
.navbar-toggler{
  border: 0px solid black !important;
}
